<header class="hero-unit">
        <h1>The best way to order food, and have it delivered</h1>
        <p class="intro">
            Foodie makes it easy to search and order food, here in Kampala,on the web.
        </p>
        <p><%= link_to "Sign up, it's easy!", new_user_registration_path, :class => 'btn btn-green' %></p>
</header>