<header class="hero-unit">
        <h1>The best way to order food, and have it delivered</h1>
        <p class="intro">
            Foodie makes it easy to search and order food, here in Kampala,on the web.
        </p>
        <p><%= link_to "Sign up, it's easy!", new_user_registration_path, :class => 'btn btn-green' %></p>
</header>

<section class="row features">
            <h2>Ordering food should be simple. And that's why we are here</h2>
            <p class="intro">Order food. Make reservations. Recommend restaurants.</p>
  
            <div class="span6">
              <h3>Choice</h3>
               <p>
               Don't be limited. Pick your favourite restaurants and cuisines from our wide variety of eating places.
                </p>
            </div>

            <div class="span6">
              <h3>Convinience</h3>
              <p>All the menus are online and are constantly updated with the latest offers. Compare prices to find the best solutions to your culinary needs.</p>
            </div>
            
            <div class="span6">
              <i class="collaborate"></i>
              <h3>Service</h3>
              <p>Orders are processed fast and efficiently, keeping you updated abouty our order status.</p>
            </div>

            <div class="span6">
              <i class="read"></i>    
              <h3>Speed. Comfort. Reliability</h3>
              <p>Have your meal at your door within the hour. Or its free!</p>
            </div>
        
       <!--  <div class="follow-buttons">
            <div style="vertical-align:bottom; margin:0 20px 0 80px"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://kippt.com" data-text="Manage your bookmarks with friends and co-workers" data-via="kippt" data-related="kippt">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
            
            <div style="vertical-align:middle"><div class="fb-like" data-href="http://facebook.com/kipptapp" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div></div>
            
            <div style="vertical-align:bottom;">
                <g:plusone size="medium" annotation="inline" width="120" href="https://kippt.com"></g:plusone>
            </div>
            
        </div> -->
      </section>

      <hr>
      <section class="row">
       <div style="float:left;"><%= image_tag 'chef.png' %></div> 
         <h2>I own a restaurant. Why should I join Foodie?</h2>
            <p class="intro">Using Foodie as your online and mobile ordering partner enables you to focus on what you do best: cooking great food!</p>

        <div class="span5">
         <h3>Increased Orders</h3>
		<p>The online and mobile ordering platform improves access to markets by 15-25% a year.</p>
		</div>

		<div class="span5">
		<h3>Greater Marketing</h3>
		<p>Foodie spends a significant sum on marketing to make sure that when consumers want food, they log on to Foodie. We advertise online, on mobile, radio, and TV to make sure your consumers know that they can find great restaurants like yours online.</p>
		</div>
		
		<div class="span5">
		<h3>Your business, online</h3>
		<p>By using Foodie as your online ordering partner, restaurants avoid the massive set-up costs and hassle of building a transactional website.</p>
		</div>

    <p style="text-align:center;text-decoration:none;"><%= link_to "Sign up your restaurant!", new_user_registration_path, :class => 'btn btn-green btn-large' %></p>

      </section>

      <hr>

       <section class="row beawesome">
          <h2>Order Food the easy way. Use Foodie.</h2><br />
          <p style="text-align:center;"><%= link_to "Sign up, it's easy!", new_user_registration_path, :class => 'btn btn-green btn-large' %></p>
      <section>
