<div class="row">
		<h2>I own a restaurant. Why should I join Foodie?</h2>
		<p class="intro">Using Foodie as your online and mobile ordering partner enables you to focus on what you do best: cooking great food!</p>
		<div style="float:left;" class="span5">
		<%= image_tag 'chef.png' %>
		</div> 
         
        <div class="span7">
		<br/ ><br/ ><br/ >
        <div class="span7">
         <h3>Increased Orders</h3>
		<p>The online and mobile ordering platform improves access to markets by 15-25% a year.</p>
		</div>
		<br /><br />
		<div class="span7">
		<h3>Greater Marketing</h3>
		<p>Foodie spends a significant sum on marketing to make sure that when consumers want food, they log on to Foodie. We advertise online, on mobile, radio, and TV to make sure your consumers know that they can find great restaurants like yours online.</p>
		</div>
		<br /><br />
		<div class="span7">
		<h3>Your business, online</h3>
		<p>By using Foodie as your online ordering partner, restaurants avoid the massive set-up costs and hassle of building a transactional website.</p>
		</div>
		
		<div class="span7">
		<p class="ac">
			<a class="btn btn-large btn-primary" href="plans.html" title=""><b>Sign Up your Restaurant!!</b></a>
		</p>
		</div>
    </div>


    </div>
    <!-- Example row of columns -->
      <div class="row">
		<h2>And how do your clients benefit by joining Foodie?</h2>
		<br />
        <div class="span4">
          <h2>Choice</h2>
           <p>Food variety should be a priority. Don't be limited. Pick your favourite restaurants and cuisines from our wide selection of eating places.</p>
        </div>
        <div class="span4">
          <h2>Convenience</h2>
           <p>Why run around for food? All the menus are online and are constantly updated with the latest offers. Compare prices to find fulfilling solutions to your culinary needs. </p>
       </div>
        <div class="span4">
          <h2>Service</h2>
          <p>Orders are processed fast and efficiently, keeping you updated about your order status. Have your meal at your door within the hour. Or its free!</p>
        </div>
      </div>

      <hr>
      <div class="row">
    <div class="span8">
      <h1 class="lead">
        <b>Foodie</b> The easiest way to order food in Kampala.
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
          <a class="addthis_button_pinterest_pinit"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ffed9197337352a"></script>
<!-- AddThis Button END -->
      </h1>
    </div>
    <div class="span4">
      <h3 class="ac">Sell Food<small> the easy way!</small></h3>
      <p class="ac">
        <a class="btn btn-large btn-primary" href="plans.html" title=""><b>Sign Up, it's easy!</b></a>
      </p>
    </div>
  </div>
  <hr>